<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>woffice.</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <!-- seach bar -->
      <form action="" class="search-bar">
        <input
          type="text"
          class="search-bar__input"
          placeholder="Find today's office"
        />
        <a href="#"><i class="fa fa-search search-bar__icon"></i></a>
      </form>
      <!-- header title -->
      <section class="header__title">
        <h1>Choose your next work environment.</h1>
        <h1>Create your day with <span>woffice</span>.</h1>
      </section>
    </header>
    <!-- MAIN -->
    <main>
      <section class="widget">
        <h2 class="widget__title">Trending woffices</h2>
        <section class="widget__slider">
          <!-- article 1 -->
          <article class="card card--1"></article>
        </section>
      </section>
      <section class="widget">
        <h2 class="widget__title">Category</h2>
        <section class="widget__slider">
          <div class="card 1">
            <div class="card_image">
              <img
                src="https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
              />
              <div class="card_title title-white">
                <p>COWORK</p>
              </div>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image">
              <img
                src="https://images.unsplash.com/photo-1505275350441-83dcda8eeef5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
              />
              <div class="card_title title-white">
                <p>COFFEE</p>
              </div>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image">
              <img
                src="https://images.unsplash.com/photo-1543269865-f576bdee5d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60"
              />
              <div class="card_title title-white">
                <p>FREELANCE</p>
              </div>
            </div>
          </div>
          <div class="card 1">
            <div class="card_image">
              <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
              <div class="card_title title-white">
                <p>COWORK</p>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
